* {
  box-sizing: border-box;
}

.field {
	display: grid;
	grid-template-columns: repeat(32, 1fr);
	grid-auto-rows: 32px;
	grid-auto-columns: 32px;
}


.cell {
  border: 1px solid #f76707;
  background-color: #fff4e6;
}

.cell-alive {
  background-color: #f76707;
}
